.card-container {
  width: 20%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #777777;
}
.card-container > img {
  width: 100%;
}

.text-container {
  margin: 10px;
  padding: 5%;
}

.links-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}
.disable {
  opacity: 0.2;
  pointer-events: none;
}

.black {
  color: rgb(0, 0, 0);
}
.green {
  color: rgb(30, 255, 30);
}